.shakeTableJpeg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("../assets/5.png");
    background-repeat: no-repeat;
  }
  .backToHome {
    position: absolute;
    top: 16px;
    left: 30px;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
    color: white; /* Make font color white for "Back to Home" button */
    font-size: 15px;
  }

  .backToHomePageWrapper {
    position: absolute;
    top: 0;
    left: 41px;
    border-radius: var(--br-8xs);
    background-color: var(--color-cadetblue);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 185px;
    height: 48px;
    background-color: lightblue; /* Light blue background for buttons */
  }
  .frame {
    position: absolute;
    top: 22px;
    left: -34px;
    width: 226px;
    height: 48px;
    overflow: hidden;
    cursor: pointer;
  }
  .shakerTableOutputChild,
  .shakerTableOutputItem {
    position: absolute;
    left: 281px;
    border-radius: var(--br-8xs);
    width: 594px;
  }
  .shakerTableOutputChild {
    top: 208px;
    background-color: rgba(217, 217, 217, 0.8);
    height: 339px;
    opacity: 0.8;
  }
  .shakerTableOutputItem {
    top: 142px;
    height: 58px;
  }
  .waves1Icon {
    position: absolute;
    top: 225px;
    left: 302px;
    width: 530px;
    height: 304px;
    object-fit: cover;
  }
  .shakerTableOutput {
    width: 100%;
    height: 669px;
    position: relative;
    text-align: center;
    font-size: var(--font-size-mini);
    color: var(--color-white);
    font-family: var(--font-inria-sans);
  }
  